{% extends 'base.html' %}

{% block content %}


    <h1>About Loud Whistle</h1>
	<body class="subpage">
		<!-- Main -->
			<div id="main">
				<!-- Section -->
					<section class="wrapper">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Our Purpose</h3>
                                    <p>Loud Whistle is a highly secure platform for whistleblowers to release disclosed information of unprincipled
										and unethical motives within the governmental or corporate hierarchy. In a democracy, entities are required to operate in a smooth and transparent
										manner. Loud Whistle keeps the public in loop while simultaneously ensuring the privacy of dutiful whistleblowers.
                                    etc.</p>    
								</div>
								<section class="wrapper style1">
									<div class="inner">
										<header class="align-center">
											<h2>Blockchain Security</h2>
											<p> Loud Whistle uses SHA-256 encryption to hash the personal information of the users and stores it on a Blockchain
												to guarantee isolation of this information. Having a decentralzied location for user data leads to the assurance of maximum privacy and safety.
											</p>    
										</header>
										
									</div>
								</section>
							</section>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="base.html" class="link" ><img src="https://miro.medium.com/max/1000/0*jI6w_R463IemyAfK" alt="" /></a>
									</div>
								</div>
							</div>
							</div>
					</section>

				<!-- Section -->
		

			</div>
<style>

	.wrapper {
	
	}
	</style>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>

{% endblock %}