{% extends 'base.html' %}

{% block content %}
    <title>Verification</title>
    <style>
	img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto; 
	  width: 50%;
    position:relative;
  }
  h1{
    font-size: 30px;
	}
  .button{  
    position:relative;
    top:10px;
  }
    </style>
  </head>
  <body>
    <h1 align="center">Video Streaming Demonstration</h1>
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">

    <form method="post" action="{{ url_for('verification') }}">

      <center><input type="submit" value="Take Photo" name="Take Photo"/></center>
  
    </form>

    <script>
      function notification(){
        alert("Place your photo id. Then the first Screenshot of this image now. Name this id.png. Then click ok, and take a picture of your face now. Then name this file as identity.png. Remember, please use the green square in your favour")
      }
      
    </script>

{% endblock %}